In [8]:
# Create a table using lists of lists 

table = [
    ['Name',  'Age', 'Height', 'Score'],
    ['Evelyn',  17,    5.5,      80],
    ['Chinedu', 19,    5.7,      74],
    ['Jessica', 16,    6.0,      85],
    ['Liam',    16,    5.9,      87],
    ['Somto',   17,    5.4,      70],
    ['Wale',    18,    5.8,      75],
    ['Edith',   18,    5.9,      60],
    ['Gbenga',  17,    6.1,      68],
    ['Liza',    16,    5.6,      76],
    ['Abiola',  20,    5.9,      66],
    ['Madonna', 18,    5.5,      66],
    ['Kola',    19,    5.5,      78],
    ['Waje',    17,    6.1,      87],
    ['Kunle',   16,    6.1,      87],
    ['Tola',    20,    6.0,      95],
    ['George',  18,    5.4,      98],
    ['Aisha',   19,    5.7,      50],
    ['Thomas',  17,    5.8,      54],
    ['Latifa',  17,    5.5,      49],
    ['Wesley',  19,    5.7,      60],
]

def print_table(table):
    for row in table:
        print(" | ".join(str(cell) for cell in row))

print("Students Info:")
print_table(table)

Students Info:
Name | Age | Height | Score
Evelyn | 17 | 5.5 | 80
Chinedu | 19 | 5.7 | 74
Jessica | 16 | 6.0 | 85
Liam | 16 | 5.9 | 87
Somto | 17 | 5.4 | 70
Wale | 18 | 5.8 | 75
Edith | 18 | 5.9 | 60
Gbenga | 17 | 6.1 | 68
Liza | 16 | 5.6 | 76
Abiola | 20 | 5.9 | 66
Madonna | 18 | 5.5 | 66
Kola | 19 | 5.5 | 78
Waje | 17 | 6.1 | 87
Kunle | 16 | 6.1 | 87
Tola | 20 | 6.0 | 95
George | 18 | 5.4 | 98
Aisha | 19 | 5.7 | 50
Thomas | 17 | 5.8 | 54
Latifa | 17 | 5.5 | 49
Wesley | 19 | 5.7 | 60